# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data files (VERY IMPORTANT)
transaction_data/
interaction_data/

# Models
models/
*.pkl
*.joblib

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/